* {
    margin: 0;
}

body {
    background-image: url('imagens/background-1200x800.jpg');
    background-size: cover;
    color: white;
}

main {
    display: flex;
}

.photo-profile {
    width: 450px;
    border-radius: 45%;
}

.about-me {
    display: flex;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 7px;
    padding: 10px;
    flex-direction: column;
    text-align: justify;
    font-size: large;
    margin-left: 150px;
}

.about-me h2 {
    text-align: center;
}
footer {
  background-color: rgba(93, 93, 93, 0.418);
  width: 100%;
  bottom: 0px;
  position: fixed;
}

nav {
  display: flex;
  justify-content: center;
}

nav img {
  width: 40px;
  margin-left: 15px;
}

#projects {
  display: flex;
  background-color: rgba(247, 247, 247, 0.706);
  width: 100%;
  padding: 20px;
  margin-top: 40px;

}

.box-projects {
  border: 3px solid rgba(0, 0, 0, 0.918);
  width: 250px;
  height: 250px;
  margin-left: 30px;
}
